<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Universal React with Systemic</title>

    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <header>
    </header>

    <main>
      {{{body}}}
    </main>

    <footer>
    </footer>

    <script>
      window.__INITIAL_STATE__ = {{{initialState}}}
    </script>
    <script src="js/bundle.js"></script>
  </body>
</html>
